<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Add Product Page

    <form action="/addProduct" method="post">
      <input type="text" placeholder="Title" name="title" />

      <input type="text" name="price" placeholder="Price" />

      <input type="text" name="description" placeholder="Description" />

      <input type="text" name="rating" placeholder="Rating" />

      <input type="text" name="stock" placeholder="Stock" />

      <button>Submit Product</button>
    </form>
  </body>
</html>
